
/* Cards CSS */
.cards-container {
display: flex;
flex-wrap: wrap;
border-right: 1px solid black;

}

.category {
  color:#f46b27
}


.card .img-fluid {
  height: fit-content;
  width: 100%;
}
.card {
  box-shadow: 0px 2px 10px gray;
}

.recipe-container {
  border: 1px solid gray;
  box-shadow: 0px 3px rgb(190, 190, 190);
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.recipes-container {
  margin-top: 1em;
}

.bottom-row {
  padding: 1em;
}

.category-container {
  width: 11em;
  margin: auto;
  padding: .5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category-container h4 {
  margin-top: .5em;
  color:#f46b27;
  font-size: 1em;
  font-weight: 800;
  margin: 0 auto;
}

.categories-container {
  flex-direction: row;
  margin: 0 auto;
}
.card-body {
  height: 100%;
  width: 95%;
  padding: 0px;
  margin: auto;
  position: relative;
  top: 5%;
  left: 5%;
  /* font-size: 1.5em; */
}

.col-lg-6.col-md-6.col-12  {
  padding-left: 0px;
  padding-right: 0px;
  background: rgb(244,239,224);

  /* margin: auto; */
}



 

.food-name {
  color: #6c87b9
}

/* Card Buttons */
#remove-button {
  background: white;
  border: 1px solid white;
  text-align: center;
  align-content: center;
  /* height: max-content;
  width: max-content; */
  /* border-radius: 20px; */
  color:gray
}
#add-button {
  background: white;
  border: 1px solid white;
  text-align: center;
  align-content: center;
  /* height: max-content;
  width: max-content; */
  /* border-radius: 20px; */
  color:gray;

}

#add-cart {
  background:#6c87b9;
  border: none;
  position: relative;
  margin-top: 1em;
  margin: 1em 0;
  left: -4em;
  

}

.serving-size {
  padding-left: 5px;  
  font-weight: 500;
  font-size: 1.2em;
}

.serving {
  font-size: 1.2em;
  padding-left:15px;
}




