
/* Cards CSS */
.cards-container {
  display: flex;
  flex-wrap: wrap;
    border-right: 1px solid black;

}

.category {
  color:#f46b27
}

.category-container {
  margin-top: 10px;
}

.card {
  box-shadow: 0px 2px 10px gray;
}

.recipe-container {
  border-right: .5px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  padding: .5em;
}

.recipes-container {
  margin-top: 1em;
}

.bottom-row {
  padding: 1em;
}

.category-container {
  width: 11em;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.category-container h4 {
  /* padding-left: 1em; */
  margin-top: .5em;
  color:red;
  font-size: 1em;
  font-weight: 800;
  margin: 0 auto;
}

/* div .container {  
margin-left: 0px;
width: fit-content;
margin: 0;

} */

.food-name {
  color: #6c87b9
}

/* Card Buttons */
#remove-button {
  background: white;
  border: 1px solid gray;
  height: 30px;
  width: 30px;
  text-align: center;
  align-content: center;
  border-radius: 100px;
  color:gray
}
#add-button {
  background: white;
  border: 1px solid gray;
  text-align: center;
  align-content: center;
  border-radius: 100px;
  color:gray;
  height: 30px;
  width: 30px;
}

#add-cart {
  background:#6c87b9;
  border: none;
  position: relative;
  margin-top: 1em;
  right: 5%;
}

.serving-size {
  padding: 15px;  
  font-weight: 500;
}

.serving {
  padding:15px;
}




