.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  color:#f46b27
}

.category-container {
  margin-top: 10px;
}

.card {
  box-shadow: 0px 2px 10px gray;
}
div .container {  
margin-left: 0px;
width: fit-content;
margin: 0;

}

.food-name {
  color: #6c87b9
}

#remove-button {
  background: white;
  border: 1px solid gray;
  height: 30px;
  width: 30px;
  text-align: center;
  align-content: center;
  border-radius: 100px;
  color:gray
}
#add-button {
  background: white;
  border: 1px solid gray;
  text-align: center;
  align-content: center;
  border-radius: 100px;
  color:gray;
  height: 30px;
  width: 30px;
}

#add-cart {
  background:#6c87b9;
  border: none;
  position: relative;
  margin-top: 1em;
  right: 5%;
}

.serving-size {
  padding: 15px;  
  font-weight: 500;
}

.serving {
  padding:15px;
}
