// Override defaults
$main-color: #6c87b9;

@import "~bootstrap/scss/bootstrap.scss";

.carousel-indicators {
  background-color: #eeeeee;
}

.carousel-caption {
  color: black;
}

.navigation {
  background-color: $main-color;
}



div .logos{
  border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
}

.navbar-toggler{
  background-color: blue;
}

.navbar{
  flex-direction: row-reverse;
  justify-content: flex start
}


// @media screen and (min-width: 375px) 

// .carousel {
// border: 3px solid red;
// display: block;
// height: 10em;
// color: black;
// }

// .active {
// color:black
// }
// .carousel-caption {
// color: black;
// bottom: -12em;
// }

// .carousel-control-prev-icon{
//  border: 3px solid red;
// }
