// Override defaults
$main-color: #6c87b9;

@import "~bootstrap/scss/bootstrap.scss";

.carousel-control-next {
  background-color: #eeeeee;
}

.carousel-caption {
  color: black;
}

.navigation {
  background-color: $main-color;
}

.search-btn {
  background-color: $main-color;
  color: white;
}

#filter-dropdown {
  background-color: $main-color;
  border: 0;
}

// .carousel {
// border: 3px solid red;
// display: block;
// height: 10em;
// color: black;
// }

// .active {
// color:black
// }
// .carousel-caption {
// color: black;
// bottom: -12em;
// }

// .carousel-control-prev-icon{
//  border: 3px solid red;
// }
